/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

nav {
  background-color: #253538;
  padding: 1rem;
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
}

.links a {
  color: #fff;
  text-decoration: none;
  margin-left: 1.5rem;
}

.links a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  margin-bottom: 1rem;
  color: #005f73;
}

.form-section, .list-section {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form button {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input:focus {
  border-color: #005f73;
}

button {
  background-color: #0a9396;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #94d2bd;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0a9396;
  color: white;
}

tbody tr:hover {
  background-color: #e0f7fa;
}
